body {
  font-family: 'Poppins', Arial, sans-serif;
  margin: 0;
  background-color: #2b4270;
  color: #2c3e50;
  line-height: 1.6;
}

h1 {
  text-align: center;
  margin: 20px 0;
  font-size: 2.5rem;
  color: #f4faff;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-bottom: 2px solid #007bff;
  display: inline-block;
  padding-bottom: 5px;
}

.gallery-container {
  max-width: 900px;
  margin: 40px auto;
  padding: 20px;
  background: #000000;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  /* Deeper shadow for better depth */
  border-radius: 15px;
  transition: transform 0.3s, box-shadow 0.3s;
}

.gallery-container:hover {
  transform: translateY(-5px);
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.15);
  /* Subtle hover effect */
}

.gallery {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.image-box img {
  max-width: 100%;
  border-radius: 15px;
  border: 3px solid #f1f1f1;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.image-box img:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

.nav-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #007bff;
  color: #ffffff;
  border: none;
  padding: 15px;
  cursor: pointer;
  border-radius: 50%;
  font-size: 1.5rem;
  z-index: 10;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, transform 0.3s;
}

.nav-btn:hover {
  background-color: #0056b3;
  transform: scale(1.1);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

.prev-btn {
  left: 20px;
}

.next-btn {
  right: 20px;
}

.thumbnails {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 20px;
}

.thumbnails img {
  width: 100px;
  height: 70px;
  object-fit: cover;
  border-radius: 8px;
  cursor: pointer;
  border: 2px solid transparent;
  transition: transform 0.3s ease, border-color 0.3s ease, box-shadow 0.3s ease;
}

.thumbnails img.active {
  border-color: #0b243e;
  transform: scale(1.15);
  box-shadow: 0 5px 15px rgba(0, 123, 255, 0.4);
}

.thumbnails img:hover {
  transform: scale(1.15);
  border-color: #0056b3;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}


@media (max-width: 768px) {
  .gallery-container {
    padding: 15px;
  }

  h1 {
    font-size: 2rem;
  }

  .thumbnails img {
    width: 80px;
    height: 60px;
  }

  .nav-btn {
    padding: 10px 12px;
    font-size: 1.2rem;
  }
}